<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LoginDB"
     connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=YourID_LoginDB;Integrated Security=True;Connect Timeout=30"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>